*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    justify-content: center;
}
.containerHome{
    max-width: 100vw;
    max-height: 100vw;
    width: 80vw;
    height: 100vw;
    background-color: aquamarine;
}

.teamSelectBox img{
    width: 50px;
}

#startGameBtn{
    padding: 0px;
}

.taticContainer {
    width: 400px;
    height: 400px;
    background: green;
    display: grid; /* Usando grid para organizar as posições */
    grid-template-columns: repeat(5, 1fr); /* 5 colunas com largura igual */
    grid-template-rows: repeat(6, 1fr); /* 6 linhas com altura igual */
    gap: 5px; /* Espaçamento entre as posições */
    padding: 5px; /* Espaçamento interno do contêiner */
    box-sizing: border-box; /* Garante que a largura e a altura incluam o preenchimento */
}

.position {
    text-align: center; /* Adicionando uma borda para melhor visualização */
    box-sizing: border-box; /* Garante que a largura e a altura incluam a borda */
}
.position:hoover{
    background-color: brown;
}


